<h1>Welcome#index</h1>
<% if logged_in? %>
  <%= current_user.name %>
  <%= link_to 'Questions', controller: 'questions' %>
  <%= link_to 'Logout', logout_path, method: "delete" %>
<% else %>
  <p> error </p> 
<% end %>
