<%= form_for([@question, @question.answers.build]) do |f| %>
  <div class="form-group">
    <%= f.text_field :body, class: "form-control" %>
  </div>
  <%= f.submit "Reply", class: "btn btn-default btn-sm"  %>
<% end %>
