// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-users {
  max-width: 400px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 80px;
}

.form-users {
  .form-users-heading {
    text-align: center;
    margin-bottom: 10px;
  }

  .form-control {
    height: auto;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .form-action {
    text-align: right;
  }

  .back-link{
    text-align: right;
    padding-top: 10px;
  }
}
